* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 4rem;
  display: grid;
  gap: 4rem;
  place-items: center;
  background: hsl(var(--hue), 12%, 12%);
}

svg {
  --color: hsl(var(--hue), 50%, 50%);
  stroke: var(--color);
  max-height: min(70vh, 70vw);
  filter: blur(0.5px);
}

.indicator {
  stroke: var(--color);
  transform: rotate(var(--rotation));
}

svg * {
  stroke: var(--color);
  filter: drop-shadow(0px 0px 1px hsl(var(--hue) 20% 10%));
}

.guide {
  stroke: hsl(calc(var(--hue) - 180) 50% 50%);
  stroke-dasharray: 0.2;
  stroke-width: 0.2;
  display: none;
}

circle {
  fill: none;
}